name: MkDocs

on:
  push:
    branches:    
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v5
          with:
            python-version: '3.10' 
        - run: python -m pip install -r docs_requirements.txt
        - run: mkdocs gh-deploy --force
